pandas
numpy
transformers
networkx
plac
termcolor
scikit-learn
notebook
jupyterlab
jupyterlab-widgets
ipykernel
matplotlib
seaborn
scipy
nltk
scipy
lingua-language-detector
jieba
hebrew_tokenizer
hangul-korean
fugashi[unidic]
kiwipiepy
fasttext-langdetect
